// COLORS

$header-background: #444444;
$main-background: #565555;
$secondary-background: #444444;
$content-color: #ffff;

// TYPOGRAPHY
$title-source: 'Roboto Condensed';
$general-text: 'Roboto Flex';