// COLORS

$header-background: #6aa4ef;
$main-background: #fffdfc;
$secondary-background: #6aa4ef;
$content-color: #000000;

// TYPOGRAPHY
$title-source: 'Roboto Condensed';
$general-text: 'Roboto Flex';