.description {
    padding-top: 4rem;
    background-color: $main-background;
    @include media(sm) {
        padding-top: 6rem;
    }

    &__title {
        font-family: $title-source;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        color: $content-color;
    }

    .image-gallery {
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .image-circle {
            width: 150px;
            height: 150px;
            margin: 10px;
            border-radius: 50%;
            background-color: #ccc;
        }

        .circle1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -77%);
        }
          
        .circle2 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-2%, -33%);
        }
          
        .circle3 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-99%, -33%);
        }
          
        .circle4 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-51%, 19%);
        }
    }
    
    &__text {
        margin-top: 3rem;
        padding: 2rem;
        font-family: $general-text;
        font-size: 1.3rem;
        text-align: center;
        color: $content-color;

        @include media(sm) {
           font-size: 1.5rem;
        }   
    }
}