.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: $content-color;
    background-color: $header-background; 

    h1 {
        font-family: $title-source;

        @include media(desktop) {
            display: inline-block;
            font-size: 1.3rem; 
            text-align: wrap;
        } 
    }

    .hamburguer {
        display: block;
        color: $content-color;
        background-color: $header-background;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        .svg {
            width: 2.5rem;
            height: 2.5rem;
        }

        @include media(desktop) {
            display: none;
        }  
    }

    .nav { 
        display: none;
        width: 100%;
        transition: all 0.4s ease;
        opacity: 0;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            .li {
                margin: 1rem 0;
                .link {
                    font-family: $general-text;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $content-color;
                    font-weight: bold;
                    &:hover {
                        background-color: #9ac4fc;
                    }
                }

                @include media(desktop) {
                    padding: .5rem;
                    cursor: pointer;   
                }
            }

            @include media(desktop) {
                flex-direction: row; 
            } 
        }

        @include media(desktop) {
            display: flex;
            justify-content: flex-end;
            opacity: 1;
        } 
    }

    .active { 
        display: block;
        pointer-events: auto;
        opacity: 1;
    }

    @include media(desktop) {
        flex-flow: row;
    }
}
