.main-container {
    width: 100%;
    height: 100%;
    background-color: #292929f0;
  
    .goback-button {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        margin-top: 1.5rem;
        background-color: #747474;
        text-decoration: none;
        border-radius: 2rem;
    }

    .project-name {
        margin-top: 3rem;
        font-family: $title-source;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        color: white;
    }

    .project-description {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-family: $general-text;
        font-size: 1rem;
        text-align: center;
        color: white;
    }

    .projects-container {
        display: grid;
        place-items: center;
        img {
            width: 17rem;
            height: 17rem;
            padding: 1rem;
            border-radius: 3rem;
        }
        @include media(sm) {
            grid-template-columns: 1fr 1fr;
        }
        @include media(md) {
            grid-template-columns: 1fr 1fr;
        }
        @include media(lg) {
            grid-template-columns: 1fr 1fr;
        }
        @include media(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}   

